
/* Sucesion breakpoint para responsive design */
/* >1280px(width) - Initial  //  1280px(width) > & < 1024px(width)  //  1024px(width) > & < 768px(width)  //  768 > 400  ||||| Mobile: 480 x 320 // Mobile 320 x 480 */


/* General */

:root {
    --color1B: #20395B;
    --color2B: #21385B;
    --color3B: #0C1220;
    --color4B: #090f1d;
    --colorG: #A1D683;
    --colorB: black;
    --colorW: white;
    --font1: Montserrat;
    --font2: Khand;
    --font3: Inter;
    --font4: Teko;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(95deg, var(--color3B) -38.7%, var(--color4B) 74.94%);
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}



/* Navegacion ----------------------------------------------------------------*/

nav {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: transparent;
}

nav.active {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 100;
    background-image: linear-gradient(108.13deg, var(--color1B) -47%, var(--color2B) -38.7%, var(--color3B) 74.94%);
    transition: background-color 0.5s linear;
}

.nav_logo {
    aspect-ratio: initial;
    height: 50px;
    margin: 15px 0 0 0;
    justify-content: left;
    padding: 0;
}

.nav_links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 10px 0 0;
}

.nav_li {
    margin: 31px 0 31px 40px;
    padding: 0;
    font-size: 16px;
    font-family: var(--font1);
    font-weight: 500;
}

.nav_li_a {
    color: var(--colorW);
    text-decoration: none;
    background-image: linear-gradient(#00000000, #00000000), linear-gradient(var(--colorW), var(--colorW));
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}

.nav_li_a:hover {
    background-size: 0 1px, 100% 1px;
}

/* .drop_list {
    list-style: none;
    color: var(--color1);
    padding: 0 15px;
    margin-top: 1px;
    position: relative;
    background: white;
    width: inherit;
    height: 0;
    overflow: hidden;
    transition: height linear 0.3s;
}

.drop_list li {
    font-size: 14px;
    margin: 10px 0;
}

.drop_list li a {
    color: var(--color1);
    text-decoration: none;
    background-image: linear-gradient(#00000000, #00000000), linear-gradient(var(--color1), var(--color1));
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}

.nav_li_drop:hover {
    background-size: 0 1px, 100% 1px;
}

.drop_menu:hover .dlQS {
    height: 65px;
}

.drop_menu:hover .dlMI {
    height: 270px;
}

.drop_menu .drop_list li a:hover {
    background-size: 0 1px, 100% 1px;
} */




/* Hero Section */
#Inicio {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(180deg, #00000060 0%, #00000040 10%, #00000060 95%, #00000099 100%), url(../gen_resources/general\ images/foto\ 3.JPG);
    background-size: cover;
}

#Inicio .overlay {
    height: 100vh;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../gen_resources/general\ utilities/olympia_inicio_background.png);
    position: fixed;
    z-index: 10000;
    top: 0;
}

#Inicio .overlay.active {
    height: 100vh;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../gen_resources/general\ utilities/olympia_inicio_background.png);
    position: absolute; /*fixed*/
    z-index: 10000;
    top: 0;
    animation: arrive 1s linear 0s 1;
}

#Inicio .overlay h1 {
    position: absolute;
    left: 3vw;
    top: 4vw;
    font-family: var(--font4);
    font-style: normal;
    font-weight: 300;
    font-size: 27.44vh;
    line-height: 75%;
    display: flex;
    align-items: left;
    text-align: left;
    color: var(--colorW);
    padding: 0;
    margin: 0;
    z-index: 10001;
    text-shadow: 2px 2px 12px rgba(255, 255, 255, 0.3);
}

#Inicio .overlay h2 {
    position: absolute;
    left: 3.4vw;
    bottom: 7vw;
    font-family: var(--font4);
    font-style: normal;
    font-weight: 300;
    font-size: 17.58vh;
    line-height: 75%;
    display: flex;
    align-items: center;
    color: var(--colorW);
    padding: 0;
    margin: 0;
    z-index: 10001;
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.4);
}

#Inicio .overlay h3 {
    position: absolute;
    left: 3.6vw;
    bottom: 3.3vw;
    font-family: var(--font4);
    font-style: normal;
    font-weight: 300;
    font-size: 7.93vh;
    line-height: 75%;
    display: flex;
    align-items: center;
    color: var(--colorW);
    padding: 0;
    margin: 0;
    z-index: 10001;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

@keyframes arrive {
    0% {
        transform: scale(100%);
        opacity: 1;
    }
    50% {
        transform: scale(1100%) rotate(-20deg) translateX(-13vw);
    }
    99% {
        transform: scale(2100%) rotate(-40deg) translateX(-25vw);
        opacity: 0;
    }
    100% {
        transform: scale(1%) translateX(-25vw);
        opacity: 0;
    }
} 




/* Next Match Section */
#Match {
    width: 100%;
    height: 80.5vh;
    background-image: url("../gen_resources/general utilities/Chromatic Gradient 1.png");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

#Match h3 {
    padding: 0;
    margin: 0;
    color: var(--colorG);
    font-family: var(--font2);
    line-height: 40px;
    font-weight: 400;
    font-size: 40px;
}

#Match .hashtag {
    position: absolute;
    left: 35px;
    top: 35px;
    text-decoration: none;
    background-image: linear-gradient(#00000000, #00000000), linear-gradient(var(--colorG), var(--colorG));
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
    z-index: 99;
}

#Match .place {
    position: absolute;
    bottom: 72px;
    right: 35px;
    text-decoration: none;
    background-image: linear-gradient(#00000000, #00000000), linear-gradient(var(--colorG), var(--colorG));
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
    z-index: 99;
}

#Match .match-link:hover .place, #Match .match-link:hover .hashtag {
    background-size: 0 1px, 100% 1px;
}

#Match .match-data .escudos {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 9.27vw;
    left: 9.27vw;
    width: 81,46vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Match .match-data .escudos .escudo-local {
    background-image: url(../gen_resources/escudos_equipos_partidos/olympia.png);
    height: 49vh;
    aspect-ratio: 1/1;
    /* width: 23.44vw; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#Match .match-data .escudos .escudo-visit {
    background-image: url(../gen_resources/escudos_equipos_partidos/atleti.png);
    height: 49vh;
    aspect-ratio: 1/1;
    /* width: 23.44vw; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#Match .match-data .countdown-vs{
    width: 100%;
    height: 80.5vh;
    padding: 0;
    position: relative;
}

#Match .match-data .countdown-vs .countdown{
    position: absolute;
    padding: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 34.5vh;
    font-family: var(--font3);
    font-weight: 900;
    font-size: 12vh;
    line-height: 12vh;
    align-items: center;
    text-align: center;
    color: var(--colorW);
    z-index: 50;
}

#Match .match-data .countdown-vs .vs{
    position: absolute;
    top: 22.5vh;
    left: 0;
    right: 0;
    padding: 0;
    margin: auto;
    font-family: var(--font3);
    font-weight: 900;
    font-size: 35vh;
    line-height: 35vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) -53.62%, rgba(255, 255, 255, 0) 105.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.jornadas {
    height: 62px;
    width: calc(100% - 70px);
    margin: 0 35px;
    border-top: 1px solid var(--colorW);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.jornadas h4 {
    position: relative;
    margin: 16px 0;
    padding: 0;
    font-family: var(--font3);
    font-style: italic;
    font-weight: 900;
    font-size: clamp(15px, 25px, 25px);
    line-height: 30px;
    color: var(--colorW);
    flex-wrap: nowrap;
}

#jornada1, #jornada2, #jornada3, #jornada4, #jornada5, #jornada6 {
    color: rgba(255, 255, 255, 0.39);
}
#jornada7 {
    color: var(--colorG);
}




/* Players Section */
#Players {
    margin: 0;
    width: 100%;
    padding:28vh 8vw 0;
    overflow-x: hidden;
    position: relative;
}

#Players .parallax-title {
    position: absolute;
    top: 15.22vh;
    left: 3.5vw;
    right: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #FFFFFF 19.49%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
    font-family: var(--font3);
    font-style: italic;
    font-size: 22.5vh;
    line-height: 22.5vh;
    display: flex;
    align-items: center;
    text-align: center;
}

#Players .gallery_frame {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    position: relative;
}

#Players .inscrip_buttons {
    position: absolute;
    top: 21.3vh;
    right: 8.5vw;
}

#Players .inscrip_buttons .insc_btn_1 {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
}

#Players .inscrip_buttons .insc_btn_2 {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 0.2vw;
    background: transparent;
    border: none;
}

#Players .inscrip_buttons .left, #Players .inscrip_buttons .right {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--colorW);
}

#Players .inscrip_buttons .left:hover, #Players .inscrip_buttons .left:active, #Players .inscrip_buttons .right:hover, #Players .inscrip_buttons .right:active {
    background-image: linear-gradient(111.28deg, #172F53 -12.41%, #FFFFFF 219.35%);
}

#Players .gallery_frame .gallery {
    display: flex;
    width: 600%;
    height: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
}

#Players .gallery_frame .gallery .grupo {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 0.45vw;
    transition: all 1s;
}

#Players .gallery_frame .gallery .grupo .jugadora {
    width: 20.10vw;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#Players .gallery_frame .gallery .grupo .jugadora h1 {
    background: linear-gradient(180deg,hsla(0,0%,93%,.7),hsla(0,0%,100%,0) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: absolute;
    text-align: right;
    padding: 0;
    top: -7%;
    right: -2%;
    font-family: var(--font3);
    font-style: italic;
    font-weight: 900;
    font-size: 35vh;
    line-height: 35vh;
    margin: 0;
    z-index: 1;
}

#Players .gallery_frame .gallery .grupo .jugadora h3 {
    color: var(--colorW);
    font-family: var(--font1);
    font-weight: 300;
    font-size: 2.9vh;
    line-height: 2.9vh;
    position: absolute;
    text-align: left;
    bottom: 7.5%;
    left: 8.5%;
    right: 0;
    margin: 0 auto;
    z-index: 3;
}

#Players .gallery_frame .gallery .grupo .jugadora h3 strong {
    font-weight: 500;
    font-size: 2.85vh;
    line-height: 2.85vh;
}

#Players .gallery_frame .gallery .grupo .jugadora p {
    color: var(--colorW);
    font-family: var(--font3);
    font-size: 1.5vh;
    font-weight: 300;
    text-align: left;
    position: absolute;
    bottom: 14.4%;
    left: 8.9%;
    right: 0;
    margin: 0 auto;
    z-index: 3;
}

#Players .gallery_frame .gallery .grupo .jugadora img {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2
}

#Players .gallery_frame .gallery .grupo .jugadora .jugadora_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-image: linear-gradient(111.28deg, #172F53 0%, #FFFFFF 719.35%);
    z-index: 2000;
    transition: all 0.5s ease-out;
}

#Players .gallery_frame .gallery .grupo .jugadora:hover > .jugadora_overlay {
    transform: translateY(0%);
}

#Players::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#Players .gallery_frame::-webkit-scrollbar, #Players .gallery::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* #Players .buttons {
    position: absolute;
    top:0;
} */




/* Shop Section */
#Shop {
    margin: 0;
    width: 100%;
    padding: 28vh 8vw 0;
    overflow-x: hidden;
    position: relative;
}

#Shop .parallax-title {
    position: absolute;
    top: 15.22vh;
    right: 4.5vw;
    left: 3.5vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #FFFFFF 19.49%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
    font-family: var(--font3);
    font-style: italic;
    font-size: 22.5vh;
    line-height: 22.5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    text-align: right;
}

#Shop .inscrip_buttons {
    position: absolute;
    top: 21.3vh;
    left: 8.5vw;
}

#Shop .inscrip_buttons .insc_btn_1 {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
}

#Shop .inscrip_buttons .insc_btn_2 {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 0.2vw;
    background: transparent;
    border: none;
}

#Shop .inscrip_buttons .left, #Shop .inscrip_buttons .right {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--colorW);
}

#Shop .inscrip_buttons .left:hover, #Shop .inscrip_buttons .left:active, #Shop .inscrip_buttons .right:hover, #Shop .inscrip_buttons .right:active {
    background-image: linear-gradient(111.28deg, #172F53 -12.41%, #FFFFFF 219.35%);
}

#Shop .gallery_frame {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    position: relative;
}

#Shop .gallery_frame .gallery {
    display: flex;
    width: 300%;
    overflow-x: scroll;
    position: relative;
    box-sizing: border-box;
}

#Shop .gallery_frame .gallery .grupo {
    height: 100%;
    padding: 0 0.45vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}

#Shop .gallery_frame .gallery .grupo .prenda {
    aspect-ratio: 1/1.25;
    width: 20.1vw;
    overflow: hidden;
    cursor: pointer;
}

#Shop .gallery_frame .gallery .prenda .display {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
}

#Shop .gallery_frame .gallery .prenda .display img {
    height: 65%;
    aspect-ratio: initial;
    transition: all 0.2s ease-in-out;
    background: transparent;
    margin: auto;
}

#Shop .gallery_frame .gallery .prenda:hover .display img {
    height: 70%;
}

#Shop .gallery_frame .gallery .prenda1 .display {
    background-image: linear-gradient(90deg, #152134ff 6%, #182438ff 34%, #1b273dff 54%, #2a3452ff 100%);
}

#Shop .gallery_frame .gallery .prenda2 .display {
    background-image: linear-gradient(90deg, #bfa842ff 0%, #dccd70ff 41%, #e3d977ff 100%);
}

#Shop .gallery_frame .gallery .prenda3 .display {
    background-image: linear-gradient(90deg, #738989ff 0%, #98bab7ff 71%, #a8c8c6ff 94%, #c1dedfff 100%);
}

#Shop .gallery_frame .gallery .prenda4 .display {
    background-image: linear-gradient(90deg, #e18996ff 0%, #eaabb9ff 45%, #ecb4c0ff 87%);
}

#Shop .gallery_frame .gallery .prenda5 .display {
    background-image: linear-gradient(90deg, #738989ff 0%, #98bab7ff 71%, #a8c8c6ff 94%, #c1dedfff 100%);
}

#Shop .gallery_frame .gallery .prenda6 .display {
    background-image: linear-gradient(90deg, #8cc3c3ff 0%, #455e69ff 50%, #2a3452ff 100%);
}

#Shop .gallery_frame .gallery .prenda7 .display {
    background-image: linear-gradient(90deg, #152134ff 6%, #182438ff 34%, #1b273dff 54%, #2a3452ff 100%);
}

#Shop .gallery_frame .gallery .prenda8 .display {
    background-image: linear-gradient(90deg, #252528ff 0%, #2c2a2bff 41%, #3b393bff 100%);
} 

#Shop .gallery_frame .gallery .prenda9 .display {
    background-image: linear-gradient(90deg, #474747ff 0%, #888888ff 100%);
}

#Shop .gallery_frame .gallery .prenda10 .display {
    background-image: linear-gradient(90deg, #474747ff 0%, #888888ff 100%);
}

#Shop .gallery_frame .gallery .prenda11 .display {
    background-image: linear-gradient(90deg, #474747ff 0%, #888888ff 100%);
}

#Shop .gallery_frame .gallery .prenda12 .display {
    background-image: linear-gradient(90deg, #152134ff 0%, #2a3452ff 100%);
}

#Shop::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#Shop .gallery_frame::-webkit-scrollbar, #Shop .gallery::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}




/* Inscription Section */
#Inscribe {
    margin: 0;
    width: 100%;
    padding:28vh 8.45vw 24vh;
    overflow-x: hidden;
    position: relative;
}

#Inscribe .parallax-title {
    position: absolute;
    top: 15.22vh;
    left: 3.5vw;
    right: 3.5vw;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(180deg, #FFFFFF 19.49%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
    font-family: var(--font3);
    font-style: italic;
    font-size: 22.5vh;
    line-height: 22.5vh;
    display: flex;
    align-items: center;
    text-align: center;
}

#Inscribe .flex {
    width: 100%;
    height: 52vh;
    display: flex;
    justify-content: space-between;
}

#Inscribe .flex .inscrip_type {
    width: 32%;
    height: 100%;
    background: gray;
    position: relative;
}

#Inscribe .flex .inscrip_type img {
    position: absolute;
}

#Inscribe .flex .inscrip_type .title_tag {
    position: absolute;
}




/* Latest News Section */
#MainNews {
    width: 100%;
    height: 70vh;
    background-color: var(--colorW);
    display: block;
}

#MainNews .selector {
    display: flex;
    width: 100%;
    height: 70vh;
}

#MainNews .news {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: 80%;
    position: relative;
    overflow-x: hidden;
    box-shadow: inset -30px 40px 60px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#MainNews .news h3 {
    text-decoration: none;
    font-family: var(--font1);
    font-weight: 500;
    color: var(--colorW);
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

#MainNews #main {
    width: 290%;
    background-position: 50%;
}

#MainNews #main h3 {
    text-decoration: none;
    font-family: var(--font1);
    font-weight: 500;
    color: var(--colorW);
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 28px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

#MainNews .news1 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 1.JPG);
}

#MainNews .news2 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 6.jpg);
}

#MainNews .news3 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 1.JPG);
}

#MainNews .news4 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 6.jpg);
}



/* Events Section */
#Events {
    width: 100%;
    padding: 28vh 4vw 24vh;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

#Events .parallax-title {
    position: absolute;
    top: 15.22vh;
    left: 3.5vw;
    right: 3.5vw;
    margin: 0;
    padding: 0 1vw 0 0 ;
    background: linear-gradient(180deg, #FFFFFF 19.49%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
    font-family: var(--font3);
    font-style: italic;
    font-size: 22.5vh;
    line-height: 22.5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: left;
    text-align: left;
}

#Events .events_gallery_frame {
    width: 100%;
    overflow-x: scroll;
    position: relative;
}

#Events .events_gallery_frame .gallery {
    display: flex;
    width: 100%; /*200% if we end up adding the other 3 elements */
    height: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
}

#Events .events_gallery_frame .gallery .grupo {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 0.45vw;
    transition: all 1s;
}

#Events .events_gallery_frame .gallery .grupo .news_small {
    width: 29.76667vw;
    aspect-ratio: 1.65;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    background-size: 100%;
    background-position: center;
    transition: background-size 1.5s ease;
}


#Events .events_gallery_frame .gallery .grupo .news_small:hover {
    background-size: 110%;
}


#Events .events_gallery_frame .gallery .grupo .news_small h3 {
    text-decoration: none;
    font-family: var(--font1);
    color: var(--colorW);
    font-weight: 500;
    position: absolute;
    bottom: 5%;
    left: 3.4%;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}


#Events .events_gallery_frame .sec-news1 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 1.JPG);
}
#Events .events_gallery_frame .sec-news2 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 2.jpeg);
}
#Events .events_gallery_frame .sec-news3 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 3.JPG);
}
#Events .events_gallery_frame .sec-news4 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 4.jpg);
}
#Events .events_gallery_frame .sec-news5 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 5.jpg);
}
#Events .events_gallery_frame .sec-news6 {
    background-image: linear-gradient(#00000000, #00000070), url(../gen_resources/general\ images/foto\ 6.jpg);
}

#Events::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#Events .events_gallery_frame::-webkit-scrollbar, #Events .events_gallery_frame .gallery::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}




/* Newsletter Section */
#Newsletter {
    width: 100%;
    height: 100vh;
}

#Newsletter .box {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#00000070, #00000070), url(../gen_resources/general\ images/foto\ 1.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 27.5vh 0;
}

#Newsletter .box .box_content {
    width: 50%;
    height: 45vh;
    margin: auto;
    display: flex;
    align-content: center;
}

#Newsletter .box .box_content .newsletter_box{
    background-image: linear-gradient(108.13deg, rgba(12, 18, 32, 0.74) -38.7%, rgba(9, 15, 29, 0.74) 114.94%);
    width: 50%;
    height: 100%;
    padding: 6.3vh 5vh;
}

#Newsletter .box .box_content .newsletter_box h3 {
    color: var(--colorW);
    font-family: var(--font1);
    font-weight: 500;
    text-align: center;
    font-size: 2.5vh;
    margin: 3vh auto 1vh;
}

#Newsletter .box .box_content .newsletter_box p {
    color: var(--colorW);
    font-family: var(--font1);
    text-align: center;
    margin: 1vh auto 2.5vh;
}

#Newsletter .box .box_content .newsletter_box input {
    display: block;
    margin: 0 auto 1vh;
    border-radius: 2px;
    background: var(--colorW);
    height: 3vh;
    width: 85%;
    border: none;
    color: var(--color2);
    padding: 1vh;
    font-family: var(--font1);
}

#Newsletter .box .box_content .newsletter_box input[type="submit"] {
    border: 2px solid var(--colorW);
    background: transparent;   
    color: var(--colorW);
    height: 5vh;
    width: 40%;
    font-size: 1.8vh;
    margin: 3vh auto 0;
    font-family: var(--font1);
    border-radius: 5px;
}

#Newsletter .box .box_content .newsletter_box input[type="submit"]:hover {
    background: var(--colorW);   
    color: var(--color1);
    font-weight: 500;
}

#Newsletter .box .box_content .contact_box{
    border-bottom: white 1px solid;
    border-top: white 1px solid;
    border-right: white 1px solid;
    width: 50%;
    height: 80%;
    margin: auto;
    padding: 8vh 5vh;
}

#Newsletter .box .box_content .contact_box h3 {
    color: var(--colorW);
    font-family: var(--font1);
    font-weight: 500;
    text-align: center;
    font-size: 2.5vh;
    margin: 3vh auto 1vh;
}

#Newsletter .box .box_content .contact_box button {
    border: 2px solid var(--colorW);
    background: transparent;   
    color: var(--colorW);
    height: 5vh;
    width: 40%;
    display: block;
    font-size: 1.8vh;
    margin: 3vh auto 0;
    border-radius: 5px;
    font-family: var(--font1);
}

#Newsletter .box .box_content .contact_box button:hover {
    background: var(--colorW);   
    color: var(--color2);
    cursor: pointer;
    font-weight: 500;
}




/* Footer Section */
#footer {
    width: 100%;
    height: 93vh;
    position: relative;
}

#footer .social {
    padding: 8vh 3vw 0;
    display: flex;
    justify-content: space-between;
}

#footer .social h1 {
    font-size: 35vh;
    line-height: 30vh;
    padding: 0;
    margin: 0 0 -5vh;
    color: var(--colorW);
    font-family: var(--font4);
    font-weight: 500;
    letter-spacing: -5px;
}

#footer .social .social_icons {
    margin: 0.7vh 0.2vw 0 0;
    display: flex;
    width: 14vw;
    justify-content: space-between;
}

#footer .social .social_icons img {
    height: 4vh;
}

#footer .divider {
    margin: 2vh 3vw 0;
    background: var(--colorW);
    height: 3vh;
}

#footer .sponsors {
    padding: 3vh 3vw;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}

#footer .sponsors .gallery_frame {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: scroll;
}

#footer .sponsors .gallery_frame .gallery {
    width: 160%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    /* animation: sponsors_move 16s linear infinite; */
}

@keyframes sponsors_move {
    0%{
        transform: translateX(-0%);
    }
    40%{
        transform: translateX(-0%);
    }
    50%{
        transform: translateX(-50%);
    }
    90%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(-0%);
    }
}

#footer .sponsors .gallery_frame .gallery .sponsor {
    width: 100%;
    margin: 0 0.45vw;
    background-image:linear-gradient(180deg, var(--color2B) -378.7%, var(--color3B) 174.94%);
    border-radius: 3px;
    position: relative;
}

#footer .sponsors .gallery_frame .gallery .sponsor img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
}

#footer .info {
    background-color: var(--color4B);
    width: 100%;
    height: 5vh;
    padding: 1.9vh 3vw 1.9vh 1vw;
    display: flex;
    justify-content: space-between;
}

#footer .info .links {
    height: 1.2vh;
    width: 22vw;
    display: flex;
    justify-content: space-between;
}

#footer .info .links a {
    font-family: var(--font1);
    font-size: 1.2vh;
    color: var(--colorW);
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#footer .info .volver_arriba {
    top: 20vh;
    right: 3vw;
    height: 12vh;
    width: 12vh;
    position: absolute;
}

#footer .info .volver_arriba img {
    height: 12vh;
    width: 12vh;
    position: absolute;
    animation: rotate 10s linear infinite;
}

#footer .info .volver_arriba a{
    cursor: default;
}

#footer .info .volver_arriba svg {
    height: 6vh;
    width: 6vh;
    position: absolute;
    margin: 3vh 0 0 3vh
}

@keyframes rotate {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

#footer::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#footer .gallery_frame::-webkit-scrollbar, #footer .gallery_frame .gallery::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
