@font-face {
  font-family: "Morganite-Thin";
  src: url("./fonts/Morganite-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-Thin";
  src: url("./fonts/Morganite-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Morganite-ExtraLight";
  src: url("./fonts/Morganite-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-ExtraLightItalic";
  src: url("./fonts/Morganite-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Morganite-Light";
  src: url("./fonts/Morganite-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-LightItalic";
  src: url("./fonts/Morganite-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Morganite-Book";
  src: url("./fonts/Morganite-Book.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-BookItalic";
  src: url("./fonts/Morganite-BookItalic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Morganite-Medium";
  src: url("./fonts/Morganite-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-MediumItalic";
  src: url("./fonts/Morganite-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Morganite-SemiBold";
  src: url("./fonts/Morganite-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-SemiBoldItalic";
  src: url("./fonts/Morganite-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Morganite-Bold";
  src: url("./fonts/Morganite-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-BoldItalic";
  src: url("./fonts/Morganite-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Morganite-ExtraBold";
  src: url("./fonts/Morganite-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-ExtraBoldItalic";
  src: url("./fonts/Morganite-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Morganite-Black";
  src: url("./fonts/Morganite-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Morganite-BlackItalic";
  src: url("./fonts/Morganite-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
